.verification-container {
    h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 4em;
        letter-spacing: 3px;
        color: #71bdfc;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .jumbotron {
        max-width: 1000px;
        text-align: center;
    }
    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
    }
    .rep-but-2 {
        border-radius: 2rem;
        height: initial;
        max-width: 620px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 30px;
        padding-bottom: 15px;
        box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
        text-align: center;
    }
}
.lead-p
{
    color: rgb(173, 217, 247);
}